| Sincerely,
br
| ___________________
br
br

+smallText()
  table(style='color: #{colorBaseLt};')
    tr
      td
        +image('http://lorempixel.com/50/50', 'alt', 50, 50)
      td
        +image('http://lorempixel.com/100/50', 'alt', 100, 50)

    tr
      td
      td
        strong
          | The [Company Name] Team
    tr
      td
      td
        +link('mailto:support@example.com') support@example.com
    tr
      td
      td
        +link('http://example.com') example.com
    tr
      td
      td
        +link('http://twitter.com/example') @example
        = ' '
        | (follow us on Twitter)

  br
  strong
    | * Note: This is an automatic generated email, please do not reply.
